.SegmentsFieldset {
  display: flex;
  margin: 32px 0;
  align-items: center;
}

.Segments {
  padding: 24px;
  user-select: none;
}

.Segments_rotator {
  width: 100%;
  height: 100%;
}
.Segments_segment {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  border-width: 3px;
  border-style: solid;
}

.Segments_label,
.Segments_value {
  color: white;
}

.Segments_label {
  font-size: 1rem;
}

.Segments_value {
  font-size: 3rem;
  font-size: 56px;
  line-height: 72px;
  font-weight: 100;
}

.Segments_centerInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.Segments_segments {
  width: 244px;
  height: 244px;
  position: relative;
}

/************************/
/* Segment controls *****/
/************************/

.SegmentsControls {
  display: flex;
  flex-direction: column;
  margin-right: 56px;
  position: relative;
  padding-bottom: 32px;
}

.SegmentsControls .sw-switch {
  background: transparent;
}

.SegmentsControls_input {
  width: 56px;
  min-width: 56px;
  max-width: 56px;
  text-align: center;
  background: transparent;
  border-color: black;
  border-width: 0 0 1px 0;
  outline: none;
  height: 16px;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

.SegmentsControls_input::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
}

.SegmentsControls_label {
  font-size: 1rem;
  color: black;
  margin: 0;
  margin-bottom: 16px;
}

.SegmentsControls_segmentLabel {
  font-size: 1rem;
  flex-basis: 120px;
}

.SegmentsControls_units {
  font-size: 1rem;
}
.SegmentsControls_segment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.SegmentsControls_segment + .SegmentsControls_segment {
  margin-top: 32px;
}
.SegmentsControls_segment > * + * {
  margin-left: 32px;
}
.SegmentsControls_segment___disabled {
  opacity: 0.4;
  pointer-events: none;
}

.Segments___disabled {
  opacity: 0.4;
}

.SegmentsFieldset___invert .Segments_label,
.SegmentsFieldset___invert .Segments_value,
.SegmentsFieldset___invert .SegmentsControls_units,
.SegmentsFieldset___invert .SegmentsControls_segmentLabel,
.SegmentsFieldset___invert .SegmentsControls_input,
.SegmentsFieldset___invert .SegmentsNodes_nodeInfo {
  color: white;
}

.Segments_segment___cherry,
.SegmentsNodes_node___cherry {
  border-color: #fd5973;
}
.Segments_segment___apricot,
.SegmentsNodes_node___apricot {
  border-color: #f8b878;
}
.Segments_segment___kiwi,
.SegmentsNodes_node___kiwi {
  border-color: #8ee53f;
}
.Segments_segment___mint,
.SegmentsNodes_node___mint {
  border-color: #98ff98;
}
.Segments_segment___water,
.SegmentsNodes_node___water {
  border-color: #26baee;
}
.Segments_segment___blueberry,
.SegmentsNodes_node___blueberry {
  border-color: #4f86f7;
}
.Segments_segment___grape,
.SegmentsNodes_node___grape {
  border-color: #835177;
}
.Segments_segment___watermelon .SegmentsNodes_node___watermelon {
  border-color: #e37383;
}

.SegmentsNodes {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}

.SegmentsNodes_node {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  cursor: pointer;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.SegmentsNodes_nodes {
  position: relative;
}

.SegmentsNodes_node___selected {
  transform: translate(-50%, -50%) scale(1.5);
}

.SegmentsNodes_nodeInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  font-size: 16px;
}
