html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html {
  height: -webkit-fill-available;
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

:root {
  --color-cherry: #fd5973;
  --color-apricot: #f8b878;
  --color-kiwi: #8ee53f;
  --color-mint: #98ff98;
  --color-water: #26baee;
  --color-blueberry: #4f86f7;
  --color-grape: #835177;
  --color-watermelon: #e37383;
}

.SlidesFieldset {
  display: flex;
  margin: 32px 0;
  align-items: center;
  flex-direction: column;
}

.Slides {
  padding: 56px;
  user-select: none;
  touch-action: none;
}

.Slides_rotator {
  width: 100%;
  height: 100%;
}
.Slides_segment {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  border-width: 3px;
  border-style: solid;
}

.Slides_label,
.Slides_value {
  color: black;
}

.Slides_label {
  font-size: 1rem;
}

.Slides_value {
  font-size: 3rem;
  font-size: 56px;
  line-height: 72px;
  font-weight: 100;
}

.Slides_centerInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.Slides_segments {
  width: 244px;
  height: 244px;
  position: relative;
}

/************************/
/* Slide controls *****/
/************************/

.SlidesControls {
  display: flex;
  flex-direction: column;
  margin-right: 56px;
  position: relative;
  padding-bottom: 32px;
}

.SlidesControls .sw-switch {
  background: transparent;
}

.SlidesControls_input {
  width: 56px;
  min-width: 56px;
  max-width: 56px;
  text-align: center;
  background: transparent;
  border-color: black;
  border-width: 0 0 1px 0;
  outline: none;
  height: 16px;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

.SlidesControls_input::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
}

.SlidesControls_label {
  font-size: 1rem;
  color: black;
  margin: 0;
  margin-bottom: 16px;
}

.SlidesControls_segmentLabel {
  font-size: 1rem;
  flex-basis: 120px;
}

.SlidesControls_units {
  font-size: 1rem;
}
.SlidesControls_segment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.SlidesControls_segment + .SlidesControls_segment {
  margin-top: 32px;
}
.SlidesControls_segment > * + * {
  margin-left: 32px;
}
.SlidesControls_segment___disabled {
  opacity: 0.4;
  pointer-events: none;
}

.Slides___disabled {
  opacity: 0.4;
}

.SlidesFieldset___invert .Slides_label,
.SlidesFieldset___invert .Slides_value,
.SlidesFieldset___invert .SlidesControls_units,
.SlidesFieldset___invert .SlidesControls_segmentLabel,
.SlidesFieldset___invert .SlidesControls_input,
.SlidesFieldset___invert .SlidesNodes_nodeInfo {
  color: black;
}

.Slides_segment___cherry,
.SlidesNodes_node___cherry {
  color: #fd5973;
  border-color: #fd5973;
}
.Slides_segment___apricot,
.SlidesNodes_node___apricot {
  color: #f8b878;
  border-color: #f8b878;
}
.Slides_segment___kiwi,
.SlidesNodes_node___kiwi {
  color: #8ee53f;
  border-color: #8ee53f;
}
.Slides_segment___mint,
.SlidesNodes_node___mint {
  color: #98ff98;
  border-color: #98ff98;
}
.Slides_segment___water,
.SlidesNodes_node___water {
  color: #26baee;
  border-color: #26baee;
}
.Slides_segment___blueberry,
.SlidesNodes_node___blueberry {
  color: #4f86f7;
  border-color: #4f86f7;
}
.Slides_segment___grape,
.SlidesNodes_node___grape {
  color: #835177;
  border-color: #835177;
}
.Slides_segment___watermelon,
.SlidesNodes_node___watermelon {
  border: #e37383;
  border-color: #e37383;
}

.SlidesNodes {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}

.SlidesNodes_node {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  box-sizing: border-box;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.SlidesNodes_node::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 16px;
  height: 16px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 50%;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  z-index: 10;
}

.SlidesNodes_nodes {
  position: relative;
}

.SlidesNodes_node___selected {
  transform: translate(-50%, -50%) scale(1.5);
}

.SlidesNodes_nodeInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  font-size: 16px;
}
